@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["ForgetPassword"] != null)
{
    <p style="color:#38AA34;font-size:18px;" class="text-center">Şifrənizi Bərpa Edin!</p>
}

<section id="userNewPassword">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Şifrəni Yenilə</h5>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="user-new-pass d-flex">
                        <label asp-for="NewPassword">Şifrə</label>
                        <input asp-for="NewPassword">
                    </div>
                    <span asp-validation-for="NewPassword"></span>
                    <div class="user-new-pass-confirm d-flex">
                        <label asp-for="ConfirmPassword">Şifrəni Təsdiqlə</label>
                        <input asp-for="ConfirmPassword">
                    </div>
                    <span asp-validation-for="ConfirmPassword"></span>

                    <div class="user-pass-confirmBtn d-flex justify-content-center align-items-center">
                        <input type="submit" value="Təsdiqlə">
                    </div>
                    <input type="hidden" asp-for="PasswordResetToken" value="@ViewBag.PasswordResetToken" />
                </form>
            </div>

        </div>
    </div>
</section>

