@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/PowerAdmin/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["ForgetPassword"] != null)
{
    <p style="color:#38AA34;font-size:18px;" class="text-center">Şifrənizi Bərpa Edin!</p>
}

<section id="userNewPassword">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Şifrəni Yenilə</h5>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div style="width:270px;height:160px;background:yellow; justify-content:center;align-items:center;" class="user-new-pass d-flex flex-column">
                        <label asp-for="NewPassword">Şifrə</label>
                        <input asp-for="NewPassword">
                        <span asp-validation-for="NewPassword"></span>
                        <label asp-for="ConfirmPassword">Şifrə Təsdiqlə</label>
                        <input asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    
                    
                    

                    <div   class="user-pass-confirmBtn d-flex justify-content-center align-items-center">
                        <input class="btn btn-success" type="submit" value="Təsdiqlə">
                    </div>
                    <input type="hidden" asp-for="PasswordResetToken" value="@ViewBag.PasswordResetToken" />
                </form>
            </div>

        </div>
    </div>
</section>

