
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="error" class="d-flex justify-content-center align-items-center" style=" height:450px;background-image: url('https://images.wallpaperscraft.com/image/pacman_blood_harassment_maze_22080_1920x1080.jpg')">
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center align-items-center ">
                <div style="width: 256px;height: 256px; background:transparent" class="error-div d-flex justify-content-center align-items-center">
                    <h1 style=" width:100%;font-size: 40px; color:rgb(201, 15, 15);">Xəta baş verdi</h1>
                </div>
            </div>
        </div>
    </div>
</section>

